<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Sebi" />
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/flatly/bootstrap.min.css" rel="stylesheet">

    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1><a href="/">{{ page.title }}</a></h1>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
  </body>
</html>
